body {
    background-color: lightslategray;
}

p {
    background-color: #0F4069;
    border-style: solid;
    border-color: #e6eaef;
    border-width: 2px;
    width: 300px;
    padding:20px 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 50px;
    border-top-left-radius: 15px;
    margin: auto;
    color: whitesmoke;
}